.md-box {
    width: 210px;
    position: absolute;
    display: none;
    font-size: 10px;
    border: 1px solid #3399ff;
    margin-top: -1px;
    background-color: #fff;

    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    z-index: 100;
}

.show {
    animation: appear .25s ease-out;
    display: block;
}

.md-head {
    line-height: 24px;
    padding: 0 10px;
    font-size: 14px;
    text-align-last: left;
}

.md-head a {
    display: inline-block;
    text-decoration: none;    
}

.md-box a,
.md-box a:link,
.md-box a:active,
.md-box a:visited {
    color: #3399ff
}

.md-head i {
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    opacity: .7;
}

.md-head i:hover {
    opacity: .8;
}

.md-btn-wraper {
    float: right;
    height: 100%;
}

.md-body>div {
    display: none;
    transition: all 2s;
    width: 100%;
}

div.md-day-box {
    display: block;
}

.mb-show .md-month-box {
    display: block;
}

.mb-show .md-day-box {
    display: none;
}

.yb-show .md-year-box {
    display: block;
}

.yb-show .md-day-box {
    display: none;
}

.md-body li {
    float: left;
    text-align: center;
    cursor: pointer;
}

.md-body li:hover {
    background-color: #fff;
    transition: all 0.25s;
}

.md-body li::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.md-month-box li {
    height: 40px;
    width: 25%;
}

.md-year-box li {
    height: 30px;
    width: 25%;
}

.md-body li:hover {
    background-color: #aaa;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.md-day-box table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
}

.md-box td {
    cursor: pointer;
    height: 20px;
}

.md-box td:nth-of-type(n+6) {
    color: #ff4567;
}

.nd-box th:nth-of-type(n+6) {
    color: #ff4567
}

.md-box tbody td:hover {
    background-color: #ccc;
}

.md-td-sel,
.md-td-sel:hover {
    background-color: #3399ff;
}

.md-td-today {
    box-shadow: inset 0 0 0 1px #3399ff    
}

td.md-td-diff {
    opacity: 0.5;
}

.md-day-box thead {
    line-height: 24px;
}


.left-arrow {
    border-right: 10px solid #000;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    height: 0;
    display: inline-block;
}

.right-arrow {
    border-left: 10px solid #000;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    height: 0;
    display: inline-block;
}

.md-foot {
    text-align: right;
    line-height: 24px;
    padding-right: 20px;
}

.md-foot i {
    margin-left: 10px;
    cursor: pointer;
}

.md-foot i:hover {
    color: #3399ff
}

@keyframes appear {
    0% {
        margin-top: 10px;
        opacity: 0;
    }
    100% {
        margin-top: -1px;
        opacity: 1;
    }
}

